.id1{
    border-style: dotted;
    border-width: 3px;
    border-color: blue;
    margin: 20px;
    padding: 10px;
}

.id2{
    border-style: solid;
    border-left-width: 20px;
    border-top-width: 5px;
    border-right-width: 10px;
    border-bottom-width: 15px;
    border-color: green;
}

div button{
    border-style: double;
    border-color: red;
    border-width: 4px;
    border-radius: 15px;
}