body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

header h1{
    font-family: Georgia, serif;
    font-size: 36px;
    color: #333;
    text-align: center;
    text-transform:uppercase;
}

p.intro{
    font-style: italic;
    font-size: 14px;
    color: #666;
}

h2{
    font-family: Verdana,sans-serif;
    font-size: 24px;
    color: #007acc;
    text-decoration: underline;
}

p.text1{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

blockquote.highlight{
    font-family: serif;
    color: #2a7a1f;
    background-color: #f0f8f8;
    margin-left: auto;
    text-align: left;
}

p.text2{
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 1px;
}

footer{
    font-size: 12px;
    color: #888;
    text-align: center;
}