 body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    section {
      height: 400px;
      padding: 20px;
      color: white;
    }

    .scroll {
      background-image: url("https://i.pinimg.com/736x/3c/aa/11/3caa115554f44216154adaed787e1610.jpg");
      background-size: cover;
      background-attachment: scroll;
    }

    .fixed {
      background-image: url("https://static.posters.cz/image/750/33475.jpg");
      background-size: cover;
      background-attachment: fixed;
    }

    .local {
      background-image: url("https://wallpapers.com/images/hd/cars-2-pictures-mik6ekx6mipp1xxr.jpg");
      background-size: cover;
      background-attachment: local;
      overflow: auto;
    }