table {
    table-layout:fixed;
    border-collapse: separate;
    empty-cells:hide;
    width: 100%;
    border: 1px solid #f54c4c;
    font-family: Arial, sans-serif;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    caption-side:bottom;
}

th,
td {
    border: 1px solid #c91717;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #00ff3c;
    font-weight: bold;
}

td {
    background-color: #1b57fd;
}