 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 20px;
     background-color: #f4f4f4;
 }

 .box {
     height: 250px;
     margin-bottom: 30px;
     border: 1px solid #333;
     padding: 20px;
     color: black;
     font-size: 1.5em;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 /* 1. Color Sólido: Usa un valor hexadecimal (#RRGGBB) o un nombre de color. */
 .color-box {
     background-color: rgb(255, 0, 191);
 }

 /* 2. Imagen de Fondo: Usa una URL de imagen de prueba, ajusta la repetición, tamaño y posición. */
 .image-box {
     background-image: url('https://www.shutterstock.com/image-photo/closeup-great-spotted-owl-on-600nw-1790765729.jpg');
     background-repeat: no-repeat;
     /* Por ejemplo: no-repeat, repeat-x, repeat-y */
     background-size: cover;
     /* Por ejemplo: cover, contain, 100% */
     background-position: center;
     /* Por ejemplo: center, top right, 50% 50% */
 }

 /* 3. Gradiente: Usa linear-gradient para crear una transición de color. */
 .gradient-box {
     /* Crea un gradiente de color de la parte superior (to top) que va de azul (#007bff) a verde (#28a745) */
     background-image: linear-gradient(#ffe600, rgb(13, 118, 204), #a74628);
 }

 /* 4. Fondo Múltiple: Combina una imagen y un gradiente, separados por una coma. */
 .multiple-box {
     /* Capa 1: Un gradiente oscuro, Capa 2: Una imagen. URL de imagen de prueba: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs-kbns9UuIrxlSwmiJJCqR4nXT_x6bT5jRg&s */
     background-image:
         linear-gradient(rgba(148, 22, 207, 0.5), rgba(164, 219, 11, 0.5)),
         /* Gradiente (primera capa) */
         url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs-kbns9UuIrxlSwmiJJCqR4nXT_x6bT5jRg&s');
     /* Imagen (segunda capa) */

     background-size: cover;
     color: rgb(255, 255, 255);
     /* Cambiamos el color del texto para que se vea sobre el fondo oscuro */
 }

 /* 5. Opacidad con RGBA: Cambia el color del texto y usa rgba() para darle opacidad al fondo. */
 .text-box {
     color: ffc107;
     /* Color del texto, por ejemplo: white, #ffc107 */
     /* rgba(R, G, B, Alpha). Alpha es la opacidad (0.0 a 1.0) */
     background-color: rgba(206, 121, 9, 0.5);
 }